

.Todo {
    display: flex;
    margin: 0 -3rem 4px;
    padding: 1.1rem 3rem;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
    transition: opacity 500ms ease-in-out;
  }
  .Todo-task {
    position: relative;
    transition: opacity 0.4s linear;
    cursor: pointer;
  }
  .Todo.completed {
    transition: opacity 300ms ease-in-out;
    transition-delay: 200ms;
   opacity: 0.5;
  }
  
  .Todo.completed .Todo-task:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.5rem;
    display: block;
    width: 0%;
    height: 4px;
    background: #fff;
    animation: strikeitem 0.3s ease-in 0s forwards;
  }
  
  @keyframes strikeitem {
    to {
      width: calc(100% + 1rem);
    }
  }
  
  .Todo-buttons {
    flex-shrink: 0;
    padding-left: 0.7em;
    margin-left: auto;
  }
  
  .Todo-buttons button {
    border: none;
    font-size: 1em;
    margin: 0.4em;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #fff;
  }
  
  .Todo-edit-form {
    display: flex;
    flex-wrap: wrap;
  }
  .Todo-edit-form label {
    min-width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }
  .Todo-edit-form input {
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
  }
  .Todo-edit-form button {
    padding: 0 1.3rem;
    border: none;
    background: teal;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-out;
  }
  .Todo-edit-form button:hover {
    background: #ff5e5e;
  }
  .Todo-edit-form input,
  .Todo-edit-form button {
    font-family: "Quicksand", sans-serif;
    height: 3rem;
  }


  .TodoInput {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  .TodoInput label {
    min-width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }
  .TodoInput input {
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
    outline: none;
  }
  .TodoInput button {
    padding: 0 1.3rem;
    border: none;
    background: red;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.4s ease-out;
    outline: none;
  }
  .TodoInput button:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .TodoInput input,
  .TodoInput button {
    font-family: "Quicksand", sans-serif;
    height: 3rem;
  }

  .TodoList {
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 700px;
    background: #42aaf5;
    color: #fff;
    box-shadow: 5px 10px 8px 10px #888888;
    overflow: hidden;
  }
  .TodoList ul {
    margin-top: 2.6rem;
    list-style: none;
  }
  
  .TodoList h2 {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
  }
  .TodoList h2 span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    margin-left: 3px;
    margin-top: 0.2rem;
  }
  
  .todo-enter {
    opacity: 0;
  }
  .todo-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .todo-exit {
    opacity: 1;
  }
  .todo-exit-active {
    /* opacity: 0; */
    opacity: 0;
    transform: translateX(-100%);
    transition: all 500ms ease-in-out;
  }
  
  .Todo .Todo-buttons i {
    display: inline-block;
  }
  .form-enter {
    transform: translateY(77px);
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
    position: absolute;
  }
  .form-enter-active {
    transform: translateY(0%);
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
    position: absolute;
  }
  .form-exit {
    transform: translateY(0%);
    position: absolute;
  }
  .form-exit-active {
    transform: translateY(77px);
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
    position: absolute;
  }
  
  .task-text-enter {
    transform: translateY(-77px);
    position: absolute;
  }
  .task-text-enter-active {
    transform: translateY(0);
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
    position: absolute;
  }
  .task-text-exit {
    transform: translateY(0);
    position: absolute;
  }
  .task-text-exit-active {
    transform: translateY(-77px);
    position: absolute;
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }