
#font{
    font-size: 6rem !important;
}

#input{
    outline: none;
    border: none;
    border-radius: 50px;
    height: 35px;
    background-color: rgb(157, 158, 247);
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .box {
  width: 45%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}
.container .box .top {
  width: 100%;
  height: 40.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px !important;
}
.container .box .middle {
  width: 100%;
  height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.container .box .bottom {
  width: 100%;
  height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .box .bottom button {
  width: 170px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
}
